# Configs
.eslintignore
.eslintrc.json
.prettierignore
.vscode
jest.config.js
tsconfig.json

# Dist
dist

#Misc
archive
src/typings

# Packages
node_modules
yarn.lock
Lavalink.jar

# Progress
git-notes.md
plans

# Sensitive
.env
abby.config.js
application.yml
src/Bot.ts
src/client

#Testing
src/helper
src/commands/Images/Danbooru.ts
src/commands/Owner/Debug.ts
src/commands/Fun/Blackjack.ts
src/structures/ProfileManagerRevamp.ts
src/structures/ThreadManagerRevamp.ts
tests
