# Dist
dist

# Packages
node_modules
package-lock.json

# Sensitive
src/Config.ts
src/Bot.ts
src/client
.vscode/abby-snippets.code-snippets

#Testing Purposes
src/commands/Owner/ArgsTest.ts

# Progress & Logs
todos
CommandsList.md
src/Comments.md
src/twitchApiReturns.md

# Configs
tsconfig.json