# Dist
dist
logs

# Packages
node_modules
package-lock.json
Lavalink.jar

# Sensitive
src/Config.ts
src/Bot.ts
src/client
.vscode/abby-snippets.code-snippets
application.yml
src/util/PersonalConstants.ts

#Testing Purposes
src/commands/Owner/ArgsTest.ts

# Progress & Logs
todos
CommandsList.md
src/Comments.md
src/twitchApiReturns.md

# Configs
tsconfig.json
winston-log
db.sqlite